<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <appSettings>
    <add key="ClientId" value="d18591de-e97f-4eed-82b1-4d23a4fff57d" />
    <add key="ClientSecret" value="Up85CgBy6nWtbKrFfIE6jCYlIqFE7YAoScwUvuhd9SQ=" />
    <add key="ClientSigningCertificatePath" value="C:\Users\administrator.CORP\Desktop\HighTrustAppCert.pfx" />
    <add key="ClientSigningCertificatePassword" value="Password1" />
    <add key="IssuerId" value="2099e99b-3dc5-438c-ab70-fd3f895408d8" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>